@import "tailwindcss";

@font-face {
  font-family: "OctinStencilRg400";
  src: url("../fonts/OctinStencilRg.eot");
  src: url("../fonts/OctinStencilRg.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OctinStencilRg.woff") format("woff"),
    url("../fonts/OctinStencilRg.woff2") format("woff2"),
    url("../fonts/OctinStencilRg.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Blinker300";
  src: url("../fonts/Blinker-ExtraLight.eot");
  src: url("../fonts/Blinker-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Blinker-ExtraLight.woff") format("woff"),
    url("../fonts/Blinker-ExtraLight.woff2") format("woff2"),
    url("../fonts/Blinker-ExtraLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Blinker400";
  src: url("../fonts/Blinker-Regular.eot");
  src: url("../fonts/Blinker-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Blinker-Regular.woff") format("woff"),
    url("../fonts/Blinker-Regular.woff2") format("woff2"),
    url("../fonts/Blinker-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Blinker600";
  src: url("../fonts/Blinker-Bold.eot");
  src: url("../fonts/Blinker-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Blinker-Bold.woff") format("woff"),
    url("../fonts/Blinker-Bold.woff2") format("woff2"),
    url("../fonts/Blinker-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh400";
  /* src: url("../fonts/inter.ttf")  format("truetype"); */
  src: url("../_fonts/YekanBakh-Regular.eot");
  src: url("../_fonts/YekanBakh-Regular.eot?#iefix") format("embedded-opentype"),
    url("../_fonts/YekanBakh-Regular.woff") format("woff"),
    url("../_fonts/YekanBakh-Regular.woff2") format("woff2"),
    url("../_fonts/YekanBakh-Regular.ttf") format("truetype");

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "inter400";
  /* src: url("../fonts/inter.ttf")  format("truetype"); */
  src: 
    url("../_fonts/Inter-Regular.woff") format("woff"),
    url("../_fonts/Inter-Regular.woff2") format("woff2"),
    url("../_fonts/Inter-Regular.ttf") format("truetype");

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@theme {
  --font-OctinStencilRg400: "OctinStencilRg400" !important;
  --font-Blinker300: "Blinker300" !important;
  --font-Blinker400: "Blinker400" !important;
  --font-Blinker600: "Blinker600" !important;
  --font-inter400: "inter400" !important;
  --font-YekanBakh400: "YekanBakh400" !important;

  --color-main1: #231f20;
  --color-main2: #807f63;
  --color-grayTxt: #c8c9cb;
  --color-grayTxt2: #929497;
  --color-grayTxt3: #6d6e71;
  --color-grayLine: #d9d9d9;
  --color-overlay: #ffffff1a;

  --spacing-96p: 96%;
  --spacing-90p: 90%;
  --spacing-80p: 80%;
}

.scrollTop {
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.8s ease;
}

.scrollTop.visible {
  opacity: 1;
  transform: translateY(0);
}

.wipeScroll {
  opacity: 0;
  -webkit-mask-image: linear-gradient(to top, black 40%, transparent 72%); /* تغییر اینجا */
  -webkit-mask-size: 100% 300%;
  -webkit-mask-position: 0% 0%; /* تغییر اینجا */
  animation-fill-mode: both;
}

.wipeScroll.activeScroll {
  opacity: 1 !important;
  animation-name: text-wipe;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

@keyframes text-wipe {
  0% {
    -webkit-mask-position: 0% 0%; /* تغییر اینجا */
  }
  100% {
    -webkit-mask-position: 0% 100%; /* تغییر اینجا */
  }
}


.stackEffect .tabs-wrapper {
  position: relative;
}
.stackEffect .tabs {
  width: 100%;
  height: 100vh;
  color: var(--white-beige);
  justify-content: end;
  align-items: stretch;
   flex-direction: column; 
  display: flex;
  position: sticky;
  overflow: hidden;
  right: 0 !important;
  top: 0 !important;
  inset: 0 !important;
  box-sizing: border-box;
  position: fixed;
}
.stackEffect .tabs_content {
  height:  4em;
  opacity: 1;
  width: 100%;
  flex: 0 auto;
  transition: 1s;
  position: relative;
  overflow: hidden;
}

.stackEffect .tabs_content .tab_wrap {
  opacity: 0;
  -webkit-mask-image: linear-gradient(to top, black 40%, transparent 72%); /* تغییر اینجا */
  -webkit-mask-size: 100% 300%;
  -webkit-mask-position: 0% 0%; /* تغییر اینجا */
  animation-fill-mode: both;
    
}
.stackEffect .tabs_content.Newactive .tab_wrap {
    opacity: 1 !important;
  animation-name: text-wipe;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}
.stackEffect .tabs_content.activeDisplay .tab_wrap {
  display: block !important;
}
.stackEffect .tabs_content.active {
  height: 100%;
}
.inter-onglet {
  z-index: 1;
  transition: 0.5s;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.tabs_content.active .inter-onglet {
  transform: translate( 0px,-100%);
}

.inner-onglet .number span::after {
  content: "";
  width: 100%;
  height: 1px;
  display: inline-block;
}
.inner-onglet .number span::before {
  content: "";
  width: 100%;
  height: 1px;
  display: inline-block;
}

.homePage .activeBg{
    animation-name: zoomIn;
    animation-duration: 5s;
    /* animation-timing-function: linear; */
    /* animation-iteration-count: 1; */
    /* transform-origin: left; */
        animation-fill-mode: forwards; /* این خط خیلی مهمه */

}

@keyframes zoomIn {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.2);
  }
}



.slider_home .swiper-container.nav-slider .swiper-slide {
  cursor: pointer;
  opacity: 0.4;
  transition: all 300ms ease;
  border-radius: 0.14rem;
}

.slider_home .swiper-container.nav-slider .swiper-slide.swiper-slide-active {
  opacity: 1;
}

.slider_home .swiper-container.nav-slider .swiper-slide .content {
  width: 100%;
}

.slider_home .swiper-container:hover .swiper-button-prev,
.slider_home .swiper-container:hover .swiper-button-next {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.slider_home .swiper-container.loading {
  opacity: 0;
  visibility: hidden;
}

.slider_home .swiper-slide {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slider_home .swiper-slide .slide-bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.eventsShow  .slider_home .swiper-slide .slide-bgimg{
position: relative;
}


.slider_home .swiper-slide .entity-img {
  display: none;
}
.eventsShow .slider_home .swiper-slide .entity-img{
  display: block;
}
.slider_home .swiper-slide .content {
  position: absolute;
  top: 52%;
  left: 0;
  width: 70%;
  padding-left: 5%;
  color: #fff;
  text-shadow: 0 0 4px rgb(0 0 0 / 40%);
}

.slider_home .swiper-slide .content .caption {
  display: block;
  font-size: 1.1rem;
  line-height: 1.5;
  transform: translateX(50px);
  opacity: 0;
  transition: all 300ms ease;
}

.slider_home .swiper-slide .content .caption.show {
  transform: translateX(0);
  opacity: 1;
}

.slider_home .swiper-button-prev {
  transform: translateX(50px);
}

.slider_home .swiper-button-next {
  transform: translateX(-50px);
}

.slider_home [class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}




.productCat .catBox:nth-child(odd) {
  border-right: 1px solid white;
}


.productCat .catBox {
  border-bottom: 1px solid white;
}
.productCat .catBox:nth-last-child(-n+2) {
  border-bottom: none;
}

.productCat .catBox:nth-child(6n-1) {
}
.productCat .catBox:nth-child(6n-2) .over,
.productCat .catBox:nth-child(6n-3) .over {
  background-color: #807f6383;
}
.productCat .catBox:nth-child(6n-4) .over {
  background-color: rgba(255, 255, 255, 0.534);
}
.productCat .catBox:nth-child(6n-5) .over {
  background-color: #231f207c;
}
.awardBox.touched .imgS::after {
  opacity: 0;
}

.contactUs .mapSectoin .leaflet-zoom-animated {
  width: 100%;
  filter: invert(0.05) saturate(0);
}
.contactUs .mapSectoin .leaflet-zoom-animated.leaflet-marker-icon
{

  filter: unset !important;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #807f63;
  border-radius: 50%;
  border-right-color: #807f63;
  animation: l15 1s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}

.loader::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}


.popForm form legend {
  display: none;
}
.popForm form fieldset {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}

.popForm form [data-bc-title-container],
.popForm form [data-bc-title-container] span {
  margin: 0 !important;

  font-family: "Blinker300" !important;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin-bottom: 9px !important;
}
[data-bc-validation-part]{
  display: none !important;
}
.popForm form [data-bc-title-container] {
  float: unset !important;
  width: unset !important;
}
.popForm form [data-bc-answer-container] {
  width: 100% !important;
}
.popForm form [data-bc-part-container],
.popForm form [data-bc-part-related-cell] {
  width: 100% !important;
  margin: 0 !important;
}


.popForm form [data-bc-question] {
  height: 100%;
}
.popForm form [data-bc-schema-column] {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.popForm form [data-bc-answer-container] {
  height: calc(100% - 35px);
}
.popForm form [data-bc-answer-collection],
.popForm form [data-bc-answer],
.popForm form [data-bc-part-container],
.popForm form [data-bc-part],
.popForm form textarea {
  height: 100%;
}
.popForm form fieldset input{
  height: 50px !important;
}
.popForm form input,
.popForm form textarea {
  font-family: "Blinker300" !important;
  font-size: 16px !important;
  line-height: 100% !important;
  letter-spacing: 0% !important;
  text-transform: capitalize !important;
  background-color: #807f6380 !important;
  border: 1px solid #807f63 !important;
  border-radius: 0 !important;
}
